* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


body {
    margin: 20px;
    padding: 20px;
    background: green;
}


.container{
    height: 1600px;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  img {
    width: 1276px;
    height: 650px;
  }


  .img2 {
    width: 493px;
    height: 350px;
  }

  h1 {
    padding-top: 10px;
  }

  
  .container .one, .container .two{
    height: 47%;
    width: 70%;
    gap: 20px;
  }

  .container .three {
    height: 38%;
    width: 27%;
  }


  .container .four, .container .five, .container .six, .container .seven {
    height: 13%;
    width: 27%;
  }

  .one, .two, .three, .four, .five, .six, .seven {
    background: white;
  }